In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Indexing

![here](img/indexing.png)

In [7]:
course = 'hap.py code'

In [10]:
course[10] == course[-1]

True

In [23]:
course[3:6] == course[-8:-5]

True

In [25]:
a = ['a', 2, 3, [4, 5]]
a[3][1]

5

In [28]:
numbers = [1, 2, 3]
numbers.extend([4, 5, 6])
numbers

[1, 2, 3, 4, 5, 6]

In [40]:
numbers[3:0:-1]

[4, 3, 2]

In [41]:
5 in numbers

True

In [42]:
'5' in numbers

False

### Console I/O

In [48]:
fav_animal = input('What is your favourite animal?')

What is your favourite animal? Zebra

In [49]:
fav_animal

'Zebra'

In [55]:
print('I also love', fav_animal + 's!')

I also love Zebras!

### Control flow

In [58]:
animals = []

if animals:
    print(animals)
else:
    print('No animals!')

No animals!

In [ ]:
if time_in_oven == required_time:
    print('Take it out')
elif time_in_oven < required_time:
    print('Needs more time')
else:
    print('Uhh... hate to break it to you...')

In [91]:
n = int(input('How many animals would you like?'))

How many animals would you like? 5

In [ ]:
# Loop structure

for item in iterable:
    process(item)

In [74]:
import numpy as np
np.arange(-7, -30, -1)

array([ -7,  -8,  -9, -10, -11, -12, -13, -14, -15, -16, -17, -18, -19,
       -20, -21, -22, -23, -24, -25, -26, -27, -28, -29])

### Break and continue

In [80]:
# Break out of the smallest enclosing of the loop
for n in range(2, 10):
    if n == 6:
        break
    print(n)

2
3
4
5

In [79]:
# Continue to next iteration of the loop
for l in 'zebra':
    if l in 'br':
        continue
    print(l)

z
e
a

In [ ]:
# While loop structure

while condition:
    do stuff

In [83]:
n = 1
while n < 10000:
    print(n)
    n *= 5

1
5
25
125
625
3125

In [87]:
def is_prime(n):
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

is_prime(8)

False

In [89]:
3000

3000

In [93]:
id(3000)

4676862416

In [95]:
(41).__sizeof__()

28

### The data model

In [96]:
# Everything is an object

isinstance(str, object)

True

In [97]:
# Objects have identity

id(41)

4455766400

In [98]:
# Objects have type

type(41)

int

In [99]:
# Objects have value

(41).__sizeof__()

28

### Duck typing

In [102]:
def compute(a, b, c):
    return (a + b) * c

print(compute(1, 2, 3))
print(compute([1, 2], [3, 4], 2))
print(compute('a', 'b', 4))

9
[1, 2, 3, 4, 1, 2, 3, 4]
abababab

### Is vs. ==

Basically: is checks for identity, not for equality. Use '==' when comparing values, 'is' for comparing identities.

In [1]:
1 == 1.0

True

In [2]:
type(1) == type(1.0)

False

In [3]:
1 is 1.0

False

In [4]:
# Syntactic sugar for not (1 is 1.0)

1 is not 1.0

True

In [5]:
x = 'abc'
y = 'a'
y += 'bc'

In [6]:
x == y

True

In [7]:
x is y

False

In [8]:
print(id(x))
print(id(y))

4500222192
4539565360

In [9]:
[1, 2, 3] is [1, 2, 3]

False

In [10]:
id([1, 2, 3])

4539506768

In [11]:
id([1, 2, 3])

4539579600

In [32]:
x = 5
y = x
x is y

True

### Strings

In [18]:
print('"Yes," he said')

"Yes," he said

In [19]:
print('\'Yes,\' he said')

'Yes,' he said

In [23]:
'Hello world'.find('or')

7

In [25]:
'Hello world'.replace('ell', 'ey')

'Heyo world'

In [26]:
'{0} can be {1} {0}, even in summer'.format('snowmen', 'frozen')

'snowmen can be frozen snowmen, even in summer'

In [27]:
'{name} is {age} years old'.format(name='Fabian', age=34)

'Fabian is 34 years old'

In [31]:
'{:*^18}'.format(' Fabian ')

'***** Fabian *****'

### Lists

In [37]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [38]:
a.extend([n for n in range(5)])
a

[1, 2, 3, 4, 0, 1, 2, 3, 4]

### Tuples

In [48]:
boom = (3, 2, 1)

def quick_maths(a, b, c):
    return a + b - c

quick_maths(*boom)

4

In [49]:
names = ['Fabian', 'Molly', 'Dora', 'Manfred']

for i, name in enumerate(names):
    print(i, name)

0 Fabian
1 Molly
2 Dora
3 Manfred

### Dictionaries