In [2]:
import pandas as pd

# Creating dummy variables

Entirely based on [this](https://www.youtube.com/watch?v=0s_1IsROgDc&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=24) Data School video.

In [3]:
df = pd.DataFrame({'id':[1, 2, 3, 4, 5], 'quality':['good', 'excellent', 'very good', 'good', 'excellent']})
df

   id    quality
0   1       good
1   2  excellent
2   3  very good
3   4       good
4   5  excellent

We can make a set of dummies like so:

In [7]:
pd.get_dummies(df.quality)

   excellent  good  very good
0          0     1          0
1          1     0          0
2          0     0          1
3          0     1          0
4          1     0          0

And we can drop the first column and add the original variable as the source like so:

In [8]:
pd.get_dummies(df.quality, drop_first=True, prefix='quality')

   quality_good  quality_very good
0             1                  0
1             0                  0
2             0                  1
3             1                  0
4             0                  0

Finally, we can add it to the original dataframe like so:

In [10]:
dummies = pd.get_dummies(df.quality, drop_first=True, prefix='quality')
df1 = pd.concat([df, dummies], axis=1)
df1

   id    quality  quality_good  quality_very good
0   1       good             1                  0
1   2  excellent             0                  0
2   3  very good             0                  1
3   4       good             1                  0
4   5  excellent             0                  0

Or, we can do it all at once:

In [14]:
df2 = pd.get_dummies(df, columns=['quality'], drop_first=True)
df2

   id  quality_good  quality_very good
0   1             1                  0
1   2             0                  0
2   3             0                  1
3   4             1                  0
4   5             0                  0